{% extends "base.twig" %}
{% block title %} Galeria {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="//frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
    <script src="//frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('galeria.css', 'css') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
{% block content %}<!-- References: https://github.com/fancyapps/fancyBox -->
<br>
<br>

    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Galeria</h1>
                <!-- perque detecti que es codi html pur-->
                {{  dades| raw }}

        </div>
    </div>

    {% if(message) %}
        <h2>{{ message }}</h2>
    {% endif %}

    <script src={{ asset('galeria.js', 'js') }}></script>

{% endblock %}