{% extends "base.twig" %}
{% block title %} Home {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('/hello.css', 'css') }}>
{% endblock %}
{% block content %}
    <br>
    <br>
    <div class="logejat" id="{{ logejat }}"></div>
    <!--<h1> Hello Elna!</h1>-->
    {{ dades|raw}}



    <div class="[ panel panel-default ] panel-google-plus">
        <h2> Últimas entradas de DOGYGRAM: </h2>
    </div>



    <div id="comentaris">
        <!--<div class=\"[ panel panel-default ] panel-google-plus\">

        <div class=\"panel-heading\">
            <h2>
                <a href=" . $href . ">" . $title . " </a>
            </h2>
            <h3>
                <a href=" . $hrefPerfil . "> ".$autor. " </a>
            </h3>
            <h5><span>Publicat - </span> - <span>" . $dia . "</span> </h5>
            <img class=\"img-circle\" src=\"https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46\" alt=\"User Image\" />
        </div>

        <!-- IMATGE -->
    <!--<img class=\"img-thumbnail img-responsive center-block\"  id=\"imgPost\" src=" . $image . " alt=\"User Image\" />
    <div class=\"panel-footer\">-->
    </div>

    <button id="loadmore">Loadmore</button>
    <script src={{ asset('/hello.js', 'js') }}></script>


{% endblock %}