{% extends "base.twig" %}
{% block title %} Home {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('/hello.css', 'css') }}>
{% endblock %}
{% block content %}
    <br>
    <br>

    <div class="panel panel-info">
        {{  dadesUsuari| raw }}
    </div>
    <p>Odernar per:</p>
        <form method="get" id="sleccio">
            <input class="radio" type="radio" id="creacio" name="opcio" value="1" >Creacio</input><br>
            <input class="radio" type="radio" id="likes" name="opcio" value="2" >Likes</input><br>
            <input class="radio" type="radio" id="comentaris" name="opcio" value="3" >Comentaris</input><br>
            <input class="radio" type="radio" id="visualitzacions" name="opcio" value="4">Visualitzacions</input><br>
            <button type="submit" class="button button-block" />Ordenar</button>
        </form>
            <div class="imatges">
                {{  imatgesPublic| raw }}
            </div>

        </div>

    </div>
    </div>
    </div>

    <script src={{ asset('/hello.js', 'js') }}></script>


{% endblock %}